.fav_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card {
  width: 80%;
  margin-inline: auto;
  display: flex;
  gap: 20px;
  position: relative;
  border: 1px solid #c2c2c2;
  border-radius: 4px;
  margin-bottom: 16px;
}

.remove {
  position: absolute;
  right: 30px;
  top: 20px;

  font-size: 24px;
  cursor: pointer;
}

.card .img {
  min-width: 250px;
  width: 200px;
  height: 150px;
}

.card .img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.card .title {
  width: auto;
}

.title .name {
  font-size: 24px;
  font-weight: 600;
}

.title .desc {
  font-size: 18px;
  font-weight: 500;
  max-width: 80%;
}